.home {
    gap: 3em;
}

.index-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
}

.profile {
    grid-column: 1;
}

.logger {
    grid-column: 2;
}

.log-table {
    width: 100%;
}

.log-table th {
    text-align: left;
    padding: 1em 0;
}